<div class="container">
  <mat-grid-list class="mt-3" cols="1" rowHeight="250px">
    <mat-grid-tile>
      <div class="d-flex justify-content-between" style="width: 75%">
        <img
          style="height: 230px; width: 400px"
          mat-card-image
          src="https://photo-cms-kienthuc.zadn.vn/zoom/800/Uploaded/ctvkhoahoc/2020_05_25/kienthucgalaxynote20-1_JKCL.jpg"
        />
        <div class="cart-infor">
          <h2>Samsung Galaxy Note 20</h2>
          <h3>Count:</h3>
          <div>
            <button mat-raised-button color="primary">Tăng</button>
            <button style="margin-left: 10px" mat-raised-button color="primary">
              Giảm
            </button>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile
      ><div class="d-flex justify-content-between" style="width: 75%">
        <img
          style="height: 230px; width: 400px"
          mat-card-image
          src="https://cdn.tgdd.vn/Files/2019/10/06/1205562/iphone-12-1_800x451-600x400.jpg"
        />
        <div class="cart-infor">
          <h2>Iphone 12 Promax Apple</h2>
          <h3>Count:</h3>
          <div>
            <button mat-raised-button color="primary">Tăng</button>
            <button style="margin-left: 10px" mat-raised-button color="primary">
              Giảm
            </button>
          </div>
        </div>
      </div></mat-grid-tile
    >
    <mat-grid-tile
      ><div class="d-flex justify-content-between" style="width: 75%">
        <img
          style="height: 230px; width: 400px"
          mat-card-image
          src="https://cdn.tgdd.vn/hoi-dap/1425211/top-5-dien-thoai-duoi-5-trieu-ban-chay-nhat-thang-03-2022-11-800x500.jpg"
        />
        <div class="cart-infor">
          <h2>Samsung Galaxy S20 Ut</h2>
          <h3>Count:</h3>
          <div>
            <button mat-raised-button color="primary">Tăng</button>
            <button style="margin-left: 10px" mat-raised-button color="primary">
              Giảm
            </button>
          </div>
        </div>
      </div></mat-grid-tile
    >
  </mat-grid-list>
  <button style="float: right" class="mt-2" mat-raised-button color="warn">
    Delete All
  </button>
</div>
